In [22]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score, recall_score
from sklearn.model_selection import train_test_split

In [23]:
df = pd.read_csv("./exams.csv")
df

,Количество сна,Средний бал ученика,Посещение уроков (%),Последняя оценка,Сдача экзамена
0,8,4.0,95,4,1
1,7,3.7,85,3,0
2,6,3.5,70,3,0
3,7,3.2,80,2,0
4,6,3.9,65,4,1
5,5,3.0,50,2,0
6,6,4.2,75,4,1
7,8,4.1,90,4,1
8,7,3.8,80,3,0
9,7,4.0,85,4,1

In [26]:
new_df = pd.read_csv("./Student_Marks.csv")
new_df

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [3]:
df.corr()

,Количество сна,Средний бал ученика,Посещение уроков (%),Последняя оценка,Сдача экзамена
Количество сна,1.000000,0.510038,0.955556,0.412563,0.333333
Средний бал ученика,0.510038,1.000000,0.608487,0.949940,0.800641
Посещение уроков (%),0.955556,0.608487,1.000000,0.486540,0.360000
Последняя оценка,0.412563,0.949940,0.486540,1.000000,0.896258
Сдача экзамена,0.333333,0.800641,0.360000,0.896258,1.000000

In [4]:
x = df.drop("Сдача экзамена", axis=1)
y = df["Сдача экзамена"]

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [6]:
model = LogisticRegression()

In [7]:
model.fit(x_train, y_train)

LogisticRegression()

In [8]:
model.score(x_train, y_train)

1.0

In [10]:
y_pred = model.predict(x_train)

In [13]:
r2_score(y_train, y_pred)

1.0

In [21]:
recall_score(y_train, y_pred)

1.0

In [14]:
mean_squared_error(y_train, y_pred)

0.0

In [19]:
df["сдача предсказанная"] = model.predict(x)
df["правильно/неправильно"] = df["Сдача экзамена"] == df["сдача предсказанная"]
df
df

,Количество сна,Средний бал ученика,Посещение уроков (%),Последняя оценка,Сдача экзамена,сдача предсказанная,правильно/неправильно
0,8,4.0,95,4,1,1,True
1,7,3.7,85,3,0,1,False
2,6,3.5,70,3,0,0,True
3,7,3.2,80,2,0,0,True
4,6,3.9,65,4,1,1,True
5,5,3.0,50,2,0,0,True
6,6,4.2,75,4,1,1,True
7,8,4.1,90,4,1,1,True
8,7,3.8,80,3,0,1,False
9,7,4.0,85,4,1,1,True